.resources-section {
    background-image: url("https://media.istockphoto.com/id/1077005126/es/foto/carretera-en-el-desierto-de-atacama.jpg?s=612x612&w=0&k=20&c=TZdog1J5UYFXvRdHYj6QQEKtxS4aKbYmvyRwbK0gIEo=");
    background-size: cover;
    display: flex;
    height: 100vh;
    padding: 32px;
}

.store-img {
    border-radius: 25px;
    max-height: 90%;
    position: relative;
}
