@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Perforama';
    src: url("/public/fonts/Perforama.otf");
    font-weight: normal;
    font-style: normal;        
}