.header-section {
    background-image: url("https://www.santacruzbicycles.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fsantacruzbikesstatic%2Fa3e133e6-9341-45b8-86e7-22b695d94186_Tallboy_Desktop_Hero-2%2B%25281%2529.jpg%3Fauto%3Dcompress%2Cformat&w=2600&q=100");
    position: relative;
}

.image-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
}